:root {
    --orange-color: color: #FF8912;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-flow: column;
}
fieldset {
    border-radius: 20px;
    background-color: white;
    
}
legend {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}
input {
    margin: 5px 15px;
    padding: 15px 20px;;
    width: 50%;
    display: block;
    border-radius: 10px;
    border: 1px solid #EBEBE4;
    caret-color: var(--orange-color);
}
input:focus{
    outline: 2px solid var(--orange-color);
    filter: drop-shadow(0 0 0.45rem #E77C11);
}
#inactive:hover {
    cursor: no-drop;    
}
textarea {
    resize: horizontal;
}
.tech-item{
    width: 20px;
    display: inline;
}
.tech-item:focus {
    outline: none;
    filter: none;
}
#inactive {
    background-color: #D9544D;
    border: 1px solid red;
}
#submit {
    background-color: #FF932C;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
#programming-language {
    width: 70px;
    height: auto;
    border: 2px solid var(--orange-color);
}
input {
    margin: 15px 0px;
}
label {
    font-weight: bold;
}
#submit:hover {
    outline: 2px solid var(--orange-color);
    filter: drop-shadow(0 0 0.45rem #E77C11);
}