* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui, 'Segoe UI', 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card-container {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #FF8811, #3B82F6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 10px 10px 20px black;
    cursor: pointer;
    animation: revealingCard 5s ease;
}
.image-container-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transform: scale(0);
    animation: revealingAvatar 5s ease;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
.card-container:hover {
    width: 350px;
    height: 250px;
    background-image: linear-gradient(to bottom right, #2759AA, #BA5FF7);
    opacity: 0.65;
    transform: translate(-10%, -10%);
    transition: all 0.5s ease;
}
.card-container:active {
    transform: rotate(-20deg) skew(10deg) scale(1.2);
    transition: all 0.5s ease;
}
@keyframes revealingCard {
    0% {
        opacity: 0;
        background-image: linear-gradient(to bottom right, #FF1139, #1E2757);
        transform: rotate(0deg);
    }
    60% {
        opacity: 0.5;
        background-image: linear-gradient(to bottom right, #FF1139, #3B82F6);
        transform: rotate(210deg);
    }
    100% {
        opacity: 1;
        background-image: linear-gradient(to bottom right, #FF8811, #3B82F6);
        transform: rotate(360deg);
    }
}
@keyframes revealingAvatar {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}